*{
    padding: 0px;
    margin: 0px;
   
}
header section.topo{
width: 1216px;
background-color: yellow;
margin: 0px auto;
}
header section{
    display: flex;
    align-items: center ;
    
}
figure.logo{
justify-content: space-between;    
}
sectio.banner{
    display: flex;
}